// Variables del tema
$theme-color: #B2B2B2;
$theme-hover: #B2B2B2;
$font-current-theme1: sans-serif;  // Reemplaza con tu fuente

// Colors
$primary-color: #B2B2B2;
$footer-bg: #B2B2B2;
$footer-bottom-bg: #8032FF;
$footer-text: white;
$footer-text-light: rgba(255, 255, 255, 0.8);