// Variables del tema
$theme-color: #27222C;
$theme-hover: #27222C;
$font-current-theme1: sans-serif;  // Reemplaza con tu fuente

// Colors
$primary-color: #27222C;
$footer-bg: #27222C;
$footer-bottom-bg: #8032FF;
$footer-text: white;
$footer-text-light: rgba(255, 255, 255, 0.8);